# PostgreSQL Configuration
POSTGRES_USER=lensclause_admin
POSTGRES_PASSWORD=elk4mpr3t0zN0Jutsu!
POSTGRES_DB=lensclause
POSTGRES_PORT=5432

# Timezone
TZ=Asia/Jakarta

# pgAdmin Configuration
PGADMIN_EMAIL=iwork@insignia.yea
PGADMIN_PASSWORD=elk4mpr3t0zN0Jutsu!
